# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# TypeScript and JavaScript files
[*.{ts,tsx,js,jsx,mjs,cjs}]
indent_style = space
indent_size = 4
max_line_length = 120

# JSON files
[*.json]
indent_style = space
indent_size = 2
insert_final_newline = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# HTML and template files
[*.{html,htm}]
indent_style = space
indent_size = 2

# CSS and related files
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# Package files
[package.json]
indent_style = space
indent_size = 2

# Config files
[.{prettierrc,eslintrc,babelrc}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
end_of_line = lf
