* {
  box-sizing: border-box;
  font-family: Ubuntu Mono, monospace;
}
body {
  background-color: #2f3640;
}
.ycs_wrap {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 30px;
  justify-content: center;
}
button,
input {
  margin: 0;
  padding: 0;
}
button:hover,
input:hover,
label:hover {
  cursor: pointer;
}
.ycs_inner_wrap {
  width: 920px;
}
.ycs_inner_wrap h1 {
  text-align: center;
}
.ycs_description_option {
  font-size: 16px;
  font-style: italic;
}
.ycs_description_option p {
  margin: 8px 0 0;
  padding: 0;
}
.ycs_opts_checkbox {
  height: 30px;
  vertical-align: text-bottom;
  width: 30px;
}
.ycs_inner_wrap > div {
  margin-bottom: 25px;
}
.ycs_opts_cache_wrap {
  border: 2px solid #adadad;
  padding: 16px;
}
.ycs_opts_left {
  float: left;
}
.ycs_opts_right {
  float: right;
}
.ycs_opts_clear {
  clear: both;
}
.ycs_opts_cache {
  display: inline-block;
}
.ycs_opts_btn {
  background-color: #2f3640;
  border: 2px solid #adadad;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 6px;
}
.ycs_opts_btn:hover {
  background-color: #262626;
  color: #fff;
}
.ycs_opts_btn_des_clear {
  max-width: 120px;
}
.ycs_opt_desc_head {
  font-size: 16px;
  margin-top: 15px;
}
.ycs_opt_desc_head p {
  margin: 5px 0;
}
.ycs_info_cache_table {
  display: inline-block;
}
.ycs_all_checkbox {
  float: right;
  font-size: 16px;
  margin: 15px 26px 0 0;
  padding: 0;
}
.ycs_opt_mark {
  color: orange;
}
.ycs_all_cache_tab_pag,
.ycs_opts_input_quota {
  border: none;
  font-size: 17px;
  height: 25px;
  margin: 0;
  padding: 0 5px;
  vertical-align: middle;
  width: 90px;
}
.ycs_all_cache_tab_pag {
  text-align: center;
  width: 55px;
}
.ycs_btn_nav_pag {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 0;
  padding: 0;
  user-select: none;
}
.ycs_opts_cache_q_mb {
  font-size: 18px;
  margin-left: -6px;
}
table {
  background: #262626;
  border-collapse: collapse;
  font-size: 16px;
  margin-bottom: 15px;
  overflow: hidden;
  table-layout: auto;
  width: 920px;
  word-break: break-word;
}
th {
  border-bottom: 1px solid #364043;
  color: orange;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  font-weight: 400;
  padding: 0.25em 0.3em;
}
td,
td a {
  color: #fff;
}
td a {
  text-decoration: none;
}
.disabled td {
  color: #4f5f64;
}
tbody#ycs_all_cache_body_table > tr > td:first-child > div {
  justify-content: center;
}
tbody tr:hover {
  background: #1f1f1f;
}
#ycs_all_cache_table {
  display: none;
}
.ycs_btns_footer_table {
  float: right;
}
.ycs_btns_remove_cache {
  background-color: #8a0000;
  color: #fff;
}
.ycs_btns_remove_cache:hover {
  background-color: #680000;
}
.ycs_desc_title {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.ycs_dsel_cache {
  height: 16px;
  vertical-align: bottom;
  width: 16px;
}
.ycs_export_cache_checkbox > div {
  display: inline-block;
  font-size: 16px;
}
.ycs_export_file_type_title {
  font-size: 18px;
  margin: 15px 0 0;
}
#ycs_all_cache_table > table > thead > tr > th:first-child {
  width: 50px;
}
#ycs_all_cache_table > table > thead > tr > th:nth-child(2) {
  width: 400px;
}
#ycs_all_cache_table > table > thead > tr > th:nth-child(3) {
  width: 270px;
}
#ycs_all_cache_table > table > thead > tr > th:nth-child(4) {
  width: 154px;
}
#ycs_process_export_cache > p {
  font-size: 20px;
}
.ycs_btns_export_cache {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.ycs_export_done > p {
  margin: 5px 0;
}
.ycs_process_event {
  font-size: 25px;
}
.ycs_process_event > p {
  margin: 5px 0;
}
.ycs_process_event > p:first-child {
  margin-bottom: 25px;
}
.ycs_export_cache_block {
  display: inline-block;
}
.ycs_export_options_checkbox,
.ycs_usage_details_information {
  display: flex;
  justify-content: space-between;
}
.ycs_main_pro_version {
  font-size: 14px;
}
.ycs_main_title_pro_v {
  margin: 65px 0 15px;
}
.ycs_main_title_pro_v > p {
  margin: 5px 0;
}
.ycs_link_donation_page {
  display: inline-block;
  text-decoration: none;
}
.ycs_link_donation_page:hover {
  text-decoration: underline;
}
.ycs_auth_pro_version {
  margin-top: 15px;
}
.ycs_auth_pro_version > div {
  margin: 5px 0;
}
.ycs_input_pro_version {
  border: none;
  height: 21px;
  padding: 0 5px;
  width: 180px;
}
.ycs_btn_check_pro_version {
  font-size: 14px;
}
.ycs_support_pro_version {
  display: flex;
  justify-content: space-between;
}
.ycs_features_pro_version ul {
  list-style: none;
}
#ycs_main_pro_version_block {
  display: none;
}
#ycs_pro_version_images {
  position: relative;
  right: 35px;
  top: -50px;
  width: 220px;
}
.ycs_footer_pro_version {
  font-size: 14px;
  margin-top: 150px;
}
tbody#ycs_all_cache_body_table > tr > td > div {
  align-items: center;
  display: flex;
  height: 72px;
  overflow: hidden;
}

.ycs_group {

}
.ycs_group .ycs_group_subgroup {
  pointer-events: none;
  opacity: 0.3;

  margin-top: 20px;
  margin-left: 40px;
}
.ycs_group.ycs_group--enabled .ycs_group_subgroup {
  pointer-events: auto;
  opacity: 1;
}