.ycs-reset-style {
  all: revert;
}
.ycs-app,
.ycs-app *,
.ycs-app :after,
.ycs-app :before {
  box-sizing: border-box;
}
#ycs-loading {
  font-size: 14px;
}
.ycs-app {
  border: 1px solid #e0e0e0;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 30px;
  padding: 15px;
}
html[dark='true'] .ycs-app,
html[dark] .ycs-app {
  border: 1px solid #303030;
  color: #fff;
}
.ycs-app-main {
  height: auto;
}
.ycs-render-comment {
  clear: both;
  margin-bottom: 20px;
  min-height: 40px;
}
.ycs-render-comment #ycs__show-more-button {
  padding: 10px !important;
}
#ycs-search {
  clear: both;
  margin-top: 25px;
}
.ycs-title {
  font-size: 14px;
}
.ycs-left {
  float: left;
}
.ycs-right {
  float: right;
}
.ycs-clear {
  clear: both;
}
#ycs-count-load {
  font-size: 10px;
  font-weight: 600;
}
.ycs-search-len {
  clear: both;
  float: left;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
}
#ycs-search-total-result {
  display: inline-block;
  font-size: 13px;
  margin: 0 0 0 15px;
  padding: 0;
  width: 245px;
  word-break: break-word;
}
.ycs-searchbox {
  float: left;
  overflow: hidden;
  width: 55%;
}
.ycs-btn-search {
  background-color: #f8f8f8;
  border: 1px solid #ececec;
  cursor: pointer;
  margin: 0;
  padding: 6px;
}
html[dark='true'] #ycs_btn_open_modal,
html[dark='true'] .ycs-btn-search,
html[dark='true'] .ycs_btn_load-stop,
html[dark] #ycs_btn_open_modal,
html[dark] .ycs-btn-search,
html[dark] .ycs_btn_load-stop {
  background-color: #313131;
  border: 1px solid #303030;
  color: #fff;
}
#ycs_btn_search, #ycs_btn_clear_search {
  border-left: 0;
  padding: 7px;
}
#ycs_btn_open_modal:hover,
.ycs-btn-search:hover,
.ycs_btn_load-stop:hover {
  background-color: #f0f0f0;
}
html[dark='true'] #ycs_btn_open_modal:hover,
html[dark='true'] .ycs-btn-search:hover,
html[dark='true'] .ycs_btn_load-stop:hover,
html[dark] #ycs_btn_open_modal:hover,
html[dark] .ycs-btn-search:hover,
html[dark] .ycs_btn_load-stop:hover {
  color: #ccc;
}
.ycs-search__input {
  outline: 0;
  outline-offset: 0;
}
.ycs-search__input:focus,
html[dark='true'] .ycs-search__input:focus,
html[dark] .ycs-search__input:focus {
  border: 1px solid #065fd4;
}
.ycs_btn_active {
  background-color: #e8e8e8;
}
html[dark='true'] .ycs_btn_active,
html[dark] .ycs_btn_active {
  background-color: #181818;
  color: #ccc;
}
.ycs-render-img {
  background-color: initial;
  border-radius: 50%;
  height: 40px;
  margin-right: 16px;
  overflow: hidden;
  width: 40px;
}
#ycs-search-result {
  word-wrap: break-word;
  margin: 15px 0 0 15px;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 30px;
}
.ycs-infobar__search button:disabled {
  color: #888;
  cursor: default;
}
.ycs-open-reply {
  background-color: #34495e1c;
  border: 0;
  font-size: 21px;
  font-weight: 500;
  height: 18px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  width: 18px;
}
.ycs-open-reply * {
  pointer-events: none;
  vertical-align: unset !important;
}
html[dark='true'] .ycs-open-reply,
html[dark] .ycs-open-reply {
  background-color: #34495e7a;
}
.ycs_goto_chat {
  font-size: 13px;
}
.ycs-comment-link,
.ycs-goto-video,
.ycs-gotochat-video,
.ycs-open-comment,
.ycs-open-reply {
  color: #065fd4;
  cursor: pointer;
  text-decoration: none;
}
.ycs-gotochat-video * {
  pointer-events: none;
  vertical-align: unset !important;
}
.ycs-open-comment {
  background-color: #34495e1c;
  border: 0;
  font-weight: 500;
  height: 18px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  width: 18px;
}
.ycs-open-comment * {
  pointer-events: none;
  vertical-align: unset !important;
}
html[dark='true'] .ycs-open-comment,
html[dark] .ycs-open-comment {
  background-color: #34495e7a;
}
html[dark='true'] .ycs-comment-link,
html[dark='true'] .ycs-goto-video,
html[dark='true'] .ycs-gotochat-video,
html[dark='true'] .ycs-open-comment,
html[dark='true'] .ycs-open-reply,
html[dark] .ycs-comment-link,
html[dark] .ycs-goto-video,
html[dark] .ycs-gotochat-video,
html[dark] .ycs-open-comment,
html[dark] .ycs-open-reply {
  color: #3ea6ff;
}
.ycs-cpointer {
  cursor: pointer;
}
.ycs-cpointer:hover {
  text-decoration: none !important;
}
.ycs-oc-ml {
  margin-left: 56px;
}
.ycs-infobar {
  font-size: 14px;
}
.ycs-infobar-field {
  min-width: 139px;
}
#ycs_cmnts,
#ycs_cmnts_chat,
#ycs_cmnts_video {
  display: inline-block;
  width: 130px;
}
.ycs-search-select {
  float: left;
  height: 32px;
  width: 107px;
}
.ycs-search-select option {
  background-color: #f9f9f9;
  color: #000;
}
.ycs-icon-like,
.ycs-icons__speech {
  display: inline-block;
  height: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 2px;
  width: 14px;
}
.ycs-icon-like svg,
.ycs-icons__speech svg {
  fill: #909090;
}
.ycs-icon-like:hover svg,
.ycs-icons__speech:hover svg {
  fill: #606060;
}
.ycs-wrap-like {
  display: inline;
  margin-left: 2px;
}
.ycs-like-count {
  color: #909090;
  font-size: 12px;
}
.ycs-time-size {
  font-size: 12px;
}
.ycs-hidden {
  visibility: hidden;
}
.ycs-comment-block {
  font-size: 14px;
  padding-left: 56px;
}
.ycs-goto-video {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 2px;
  margin-right: 4px;
  text-decoration: none !important;
}
.ycs-goto-video * {
  pointer-events: none;
  vertical-align: unset !important;
}
.ycs-goto-video:active,
.ycs-goto-video:visited {
  color: #065fd4;
}
a.ycs-goto-video:active,
a.ycs-goto-video:focus,
a.ycs-goto-video:focus-visible,
a.ycs-goto-video:focus-within,
a.ycs-goto-video:hover,
a.ycs-goto-video:visited {
  text-decoration: none !important;
}
.ycs-icons svg {
  display: inline-block;
  height: 15px;
  position: relative;
  top: 3px;
  width: 15px;
}
#ycs__show-more-button .ycs-icons__coll_exp {
  display: inline-block;
  height: 17px;
  margin-left: 7px;
  vertical-align: middle;
  width: 17px;
}
.ycs-icons__play {
  display: inline-block;
  margin-right: 5px;
}
#ycs_wrap_comments_chat .ycs-icons__play {
  display: inline-block;
  height: 19px;
  width: 19px;
}
#ycs_wrap_comments_trvideo .ycs-icons__play {
  display: inline-block;
  height: 22px;
  margin-right: 5px;
  width: 22px;
}
#ycs-desc__search,
.ycs-infobar-field,
.ycs-infobar__search {
  display: inline-block;
}
.ycs-infobar__search button {
  border: 1px solid #ececec;
  font-size: 14px;
  margin: 1px 0;
  padding: 1px 4px;
}
#ycs-desc__search {
  margin-right: 20px;
}
.ycs-search__input {
  border: 1px solid #ececec;
  border-right: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;
}
html[dark='true'] .ycs-search__input,
html[dark] .ycs-search__input {
  background-color: #313131;
  border: 1px solid #303030;
  border-right: 0;
  color: #fff;
}
.ycs-head__title {
  color: #030303;
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  text-decoration: none;
}
html[dark='true'] .ycs-head__title,
html[dark] .ycs-head__title {
  color: #fff;
}
.ycs-head-block__dib {
  display: inline-block;
}
.ycs-head-block {
  margin-bottom: 3px;
}
.ycs-datetime-goto,
.ycs_chat_info {
  color: #606060;
  font-size: 13px;
  margin-right: 5px;
  text-decoration: none;
}
.ycs-datetime-goto:hover,
.ycs_chat_info:hover {
  color: #030300;
}
html[dark='true'] .ycs-datetime-goto,
html[dark='true'] .ycs_chat_info,
html[dark] .ycs-datetime-goto,
html[dark] .ycs_chat_info {
  color: #aaa;
}
.ycs-head-block__lh {
  height: 15px;
  line-height: 1;
}
.ycs-comment__main-text {
  color: #030303;
  font-size: 14px;
  white-space: pre-wrap;
}
.ycs-comment__main-text img.ycs-attachment {
  position: relative;
  top: -1px;
  vertical-align: middle;
}
html[dark='true'] .ycs-comment__main-text,
html[dark] .ycs-comment__main-text {
  color: #fff;
}
.ycs-head__title-main {
  height: 20px;
}
.ycs-com-replies {
  border-bottom: 4px solid #e0e0e0;
  margin-bottom: 25px;
}
html[dark='true'] .ycs-com-replies,
html[dark] .ycs-com-replies {
  border-bottom: 4px solid #303030;
}
.ycs-show_more_block {
  border-bottom: 4px solid #e0e0e0;
  cursor: pointer;
  margin: 0 0 25px;
  padding: 0;
  text-align: center;
}
.ycs-show_more_block:hover {
  background-color: #ececec;
}
html[dark='true'] .ycs-show_more_block,
html[dark] .ycs-show_more_block {
  background-color: #181818;
  border-bottom: 4px solid #303030;
  color: #eee;
}
html[dark='true'] .ycs-show_more_block:hover,
html[dark] .ycs-show_more_block:hover {
  background-color: #303030;
  color: #fff;
}
#ycs_search_select {
  border-radius: 0;
}
#ycs-input-search,
#ycs_btn_search,
#ycs_btn_clear_search,
#ycs_search_select {
  height: 32px;
}
#ycs_btn_clear_search {
  margin-left: 1px;
}
.ycs-chat_donation {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 4px;
}
.ycs-chat_donation__bg {
  background-color: #27ae60;
}
.ycs-chat_donation__title {
  padding: 0;
}
.ycs-search-result-infobar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 8px 8px;
  max-width: 990px;
}
.ycs-btn-panel > button {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  margin: 1px;
  padding: 2px 4px;
  vertical-align: middle;
}
.ycs-creator-heart_icon,
.ycs-creator-verified_icon {
  color: inherit;
}
.ycs-creator-verified_icon {
  font-weight: 700;
}
.ycs-heart-wrap {
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
}
.ycs-heart-icon {
  color: red;
  display: inline-block;
  font-size: 15px;
  position: relative;
  vertical-align: text-bottom;
}
.ycs-verified-wrap {
  cursor: pointer;
  display: inline-block;
  margin-right: 4px;
}
.ycs-verified-icon {
  font-size: 13px;
  font-weight: 700;
}
.ycs-user-member {
  margin-right: 4px;
  vertical-align: bottom;
}
.ycs-search-clear {
  padding: 2px 5px !important;
}
@media only screen and (min-width: 900px) {
  #ycs-search-result {
    max-height: 470px;
    overflow-y: auto;
    padding-right: 30px;
  }
  @media only screen and (min-height: 768px) and (max-height: 900px) {
    #ycs-search-result {
      max-height: 550px;
      overflow-y: auto;
      padding-right: 30px;
    }
  }
  @media only screen and (min-height: 900px) {
    #ycs-search-result {
      max-height: 700px;
      overflow-y: auto;
      padding-right: 30px;
    }
  }
}
@media (max-width: 900px), only screen and (max-height: 600px) {
  #ycs-search-result {
    max-height: none;
    overflow: hidden;
    padding-right: 0;
  }
}
#ycs-search-result::-webkit-scrollbar {
  width: 10px;
}
#ycs-search-result::-webkit-scrollbar-track {
  background: #e6e6e6;
}
#ycs-search-result::-webkit-scrollbar-thumb {
  background: #888;
}
#ycs-search-result::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html[dark='true'] #ycs-search-result::-webkit-scrollbar,
html[dark] #ycs-search-result::-webkit-scrollbar {
  width: 10px;
}
html[dark='true'] #ycs-search-result::-webkit-scrollbar-track,
html[dark] #ycs-search-result::-webkit-scrollbar-track {
  background: #404040;
}
html[dark='true'] #ycs-search-result::-webkit-scrollbar-thumb,
html[dark] #ycs-search-result::-webkit-scrollbar-thumb {
  background: #aaa;
}
html[dark='true'] #ycs-search-result::-webkit-scrollbar-thumb:hover,
html[dark] #ycs-search-result::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
.ycs_load_wrap,
.ycs_open_wrap,
.ycs_save_wrap {
  display: inline-block;
  margin-right: 2px;
}
html[dark='true'] .ycs-infobar__search button,
html[dark] .ycs-infobar__search button {
  border: 0;
}
.ycs_infobar_btns {
  display: inline-block;
}
.ycs_infobar_btns:after {
  clear: both;
  content: '';
  display: table;
}
.ycs_load_wrap,
.ycs_open_wrap {
  float: left;
}
.ycs_load_wrap {
  min-width: 49px;
}
.ycs_notify_box {
  font-size: 12px;
  margin-left: 15px;
}
.ycs_noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#ycs_btn_open_modal {
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  color: #383838;
  cursor: pointer;
  float: right;
  font-size: 25px;
  font-weight: bolder;
  padding: 0 7px;
}
html[dark='true'] #ycs_btn_open_modal,
html[dark] #ycs_btn_open_modal {
  border-color: #303030;
}
.ycs_modal {
  background-color: #000;
  background-color: #0006;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.ycs_modal-content {
  background-color: #fff;
  border: 1px solid #888;
  font-family: Roboto, Arial, sans-serif;
  font-size: 2vh;
  margin: auto;
  padding: 20px;
  width: 80%;
}
.ycs_btn_close {
  background: none;
  border: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: -35px;
  padding: 10px;
}
.ycs_btn_close:focus,
.ycs_btn_close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.ycs_modal_body {
  clear: both;
  color: #1f1f1f;
  padding: 14px 40px;
}
.ycs_modal_body code {
  background-color: #f3f4f4;
  padding: 1px 6px;
}
.ycs_modal_body h2 {
  margin: 15px 0;
}
.ycs_modal_body hr {
  border: 1px solid #ececec;
  margin: 15px;
}
.ycs_modal_body li {
  padding-bottom: 10px;
}
html[dark='true'] .ycs_modal-content,
html[dark] .ycs_modal-content {
  background-color: #303030;
}
html[dark='true'] .ycs_modal_body,
html[dark] .ycs_modal_body {
  color: #fff;
}
html[dark='true'] .ycs_modal_body code,
html[dark] .ycs_modal_body code {
  color: #303030;
}
.ycs_donation_block {
  margin: 0;
}
.ycs_donation_block img {
  width: 11vh;
}
.ycs_modal_content_footer {
  margin-top: 15px;
}
.ycs_icons_tm svg {
  display: inline-block;
  height: auto;
  vertical-align: bottom;
  width: 3.5vh;
}
.ycs_extra_panel {
  margin: 0 0 15px;
}
#ycs_anchor_vmode {
  display: block;
  height: 1px;
}
.ycs_donate_patreon {
  float: right;
  margin-left: 20px;
}
#ycs-load-all {
  display: block;
  min-width: 64px;
}
.ycs_btn_load-stop {
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  border-top: 0;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  min-width: 64px;
  padding: 0;
  position: absolute;
}
html[dark='true'] .ycs_btn_load-stop,
html[dark] .ycs_btn_load-stop {
  border-top: 1px solid #181818;
}
.ycs-com-rp {
  margin-top: 20px;
}
span.ycs-mark-words {
  background-color: #ffff48;
  color: #000;
  display: inline;
}
html[dark='true'] span.ycs-mark-words,
html[dark] span.ycs-mark-words {
  background-color: #fff9c4;
}
.ycs-title-cache-info {
  color: #007200;
  cursor: help;
}
html[dark='true'] .ycs-title-cache-info,
html[dark] .ycs-title-cache-info {
  color: #0fab58;
}
.ycs-save-select {
  font-size: 13px;
  height: 20px;
  margin: 1px 0 0;
  padding: 0;
}
html[dark='true'] .ycs-save-select,
html[dark] .ycs-save-select {
  height: 18px;
}
.ycs-export-all-comments {
  margin-top: 37px;
  position: absolute;
  width: 64px;
}
html[dark='true'] .ycs-export-all-comments,
html[dark] .ycs-export-all-comments {
  margin-top: 32px;
}
.ycs-ext-search_block {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
.ycs-ext-search_option {
  display: inline-block;
  margin-left: 15%;
}
.ycs-ext-search-opts {
  display: inline-block;
}
.ycs-ext-search_link {
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding: 0 3px;
  text-decoration: none;
}
html[dark='true'] .ycs-ext-search_link,
html[dark] .ycs-ext-search_link {
  color: #fff;
}
